.section-testimonial-content{

    .panel-overlay{
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        left: 5%;
        border-radius: 1rem;
        

        // background-color: $theme-dark-panel-bg;
    }

    >div{
        // background-color: aqua;
        // padding: 1rem;
        height: 100%;
        >div {
            // background-color: crimson;
            // padding: 1rem;
            height: 100%;
            >div {
                // background-color: lime;
                // padding: 1rem;
                height: 100%;
                >div {
                    //background-color: deeppink;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .single-testimonial-slide{
                        height: 100%;
                        padding: 5rem 7rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        // background-color: rgba(255,0,0,.5);
                        .quote-wrapper{
                            flex-grow: 1;
                            .testimonial-paragraph{
                                @include paragraph-testimonial;
                                // font-size: 2rem;
                                font-style: italic;
                                // font-weight: 500;
                                // margin-bottom: 3rem;
                    
                            }
                        }
                        .testimonial-author-wrapper{
                            //background-color: red;
                            display: flex;
                            justify-content: flex-start;
                            // padding-left: 10%;
                            align-items: center;
                            .testimonial-author-avatar-wrapper{
                                width: 10rem;
                                height: 10rem;
                                border-radius: 5px;
                                overflow: hidden;
                                margin: .5rem 1rem .5rem 0;
                                // background-color: yellow;
                                .testimonial-author-avatar-img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    // display: none;
                                }
                            }
                            .testimonial-author-data-wrapper{
                                //background-color: aqua;
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                justify-content: center;
                                
                                .testimonial-author-name{
                                    // font-size: 1.6rem;
                                    @include name-2;
                                }
                                .testimonial-author-position{
                                    // font-size: 1.2rem;
                                    @include paragraph-md
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }

    .indicators {
        bottom: 5%;
    }

    .prev-arrow{
        display: none;
    }

    .next-arrow{
        display: none;
    }

}
