.panel-overlay{
}
    .project-slide-wrapper {
        max-height: 45dvh;
        height: 45dvh;
        display: flex;
        flex-direction: row;  
        align-items: stretch;
        justify-content: space-between;
        border-radius: 1rem;
        background-color: $theme-dark-panel-bg;
        border: solid 2px $theme-light-overlay;
        // background-color: greenyellow;
        padding: 2.5%;
        gap: 2%;
        .project-slide-detail-col {
            // background-color: deeppink;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .featured-project-header{

                .featured-project-name {
                    @include font-heading-2;
                }
                .featured-project-subtitle {
                    @include paragraph-lg;
                    line-height: 1.5em;
                    margin: 0;
                }
            }
            .featured-project-body{
                
                .featured-project-paragraph {
                    @include paragraph-md;
                }
            }

            .featured-project-footer{
                
                .featured-project-role {
                    @include paragraph-sm;
                }
                .featured-project-tecstack {}
            }
            

        }
        .project-slide-image-col {
            // background-color: gold;
            width: 42%;
            .featured-project-img-wrapper {
                // background-color: red;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                justify-content: flex-end;
                .featured-project-img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    // display: none;
                }
            }
            
        }
    }
    .project-slide-wrapper::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: transparent;
        // box-shadow: 0px 2px 2px 12px rgba(255,255,255,0.5);
        // -webkit-box-shadow: 0px 2px 2px 12px rgba(255,255,255,0.5);
        // -moz-box-shadow: 0px 2px 2px 12px rgba(255,255,255,0.5);
        

    }
    .project-slide-wrapper:hover{

        cursor: pointer;
        // ::after{
        //     opacity: 1;
        // }
    }

.prev-arrow{
    display: none;
}

.next-arrow{
    display: none;
}


@media screen and (max-width: 768px) {
    
    .project-slide-wrapper {
        max-height: 58rem;
        height: 58rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        //background-color: yellowgreen;
        
        .project-slide-detail-col {
            width: 100%;
        }

        .project-slide-image-col {
            //background-color: gold;
            width: 100%;
            aspect-ratio: 3 / 2;
            //padding: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;

            .featured-project-img-wrapper {
                // background-color: red;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .featured-project-img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit:scale-down;
                }
            }
        }
    }
}








