.tr-section {
    width: 100%;
    overflow-x: hidden;
    transition: all .75s;
    .position-wrapper {
        // background-color: yellow;
        // border: solid 2px $theme-light-overlay;
        .position-header {
            background-color: $theme-dark-panel-bg;
            border: solid 2px $theme-light-overlay;
            position: relative;
            display: flex;
            padding: 1rem .5rem;
            margin-block: .5rem 0;
            border-radius: 1rem;

            flex-grow: 1;
            z-index: 1;
            transition: border-radius 0.75s ease;

            .position-data{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .position-name{
                    @include paragraph-md;
                    // text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
                }
                .position-company{
                    @include name-1;
                    // text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
                }

            }
            .position-company-logo{
                height: 4rem;
                margin: .5rem 2rem .5rem .5rem;
                .company-logo{
                    max-height: 100%;
                    width: auto;
                    object-fit: contain;
                    filter: drop-shadow(0px 5px 2px #000000);
                }
            }
            .position-side-wrapper{
                // background-color: orange;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                .position-icon{
                    width: 2.5rem;
                    height: 2.5rem;
                    // background-color: black;
                    position: relative;                    
                }
                .position-icon::before {
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    border-left: solid 3px $theme-light-overlay;
                    transform-origin: 0 0;
                    transform: rotate(-32deg);
                    transition: transform .75s ease-in-out, width .75s ease-in-out;
                }
                .position-icon::after {
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    border-right: solid 3px $theme-light-overlay;
                    transform-origin: 100% 0;
                    transform: rotate(32deg);
                    transition: transform .75s ease-in-out, width .75s ease-in-out;
                }

                .position-date{
                    @include tiny-tag;
                }

            }
        }
        .position-header:hover {
            cursor: pointer;
        }
        .position-description {
            background-color: $theme-dark-panel-bg;
            border-bottom: solid 2px transparent;
            border-left: solid 2px transparent;
            border-right: solid 2px transparent;
            border-radius: 0 0 1rem 1rem;
            padding: 0 1.5rem; // Transición desde padding 0 en altura colapsada
            position: relative;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.75s ease-in-out, padding 0.75s ease-in-out, border-color 0.75s ease-in-out; // Animación para max-height y padding

            // animation: show-description;
            // animation-duration: 10s;
            // animation-timing-function: ease-in-out;
            // z-index: 0;
            // max-height: 0;
            // opacity: 0;
            // transform: scaleY(0); // Comienza colapsado y comprimido
            // transform-origin: top;
            // transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
            
            .position-detail {
                @include paragraph-lg;
                margin-block-start: .2em;
                margin-block-end: 1.2em;
            }
            .position-achivement {
                @include paragraph-md;
            }
            .position-stack {
                @include paragraph-md;
            }
        }

        .position-data {
            // background-color: orange;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }        
    }
    .position-wrapper.active {
        .position-header {
            border-radius: 1rem 1rem 0 0 ;
            .position-side-wrapper{

                .position-icon::before {
                    
                    // transform-origin: 0 0;
                    width: 60%;
                    transform: rotate(-45deg);
                }
                .position-icon::after {
                    
                    // transform-origin: 100% 0;
                    width: 60%;
                    transform: rotate(45deg);
                }
            }
        }
        .position-description {
            // max-height: auto;
            max-height: 1000px; // Valor grande para garantizar que se expanda
            padding: 1.5rem; // Agregamos padding para mostrar el contenido
            border-bottom: solid 2px $theme-light-overlay;
            border-left: solid 2px $theme-light-overlay;
            border-right: solid 2px $theme-light-overlay;
        }
    }
}

@keyframes show-description {
    from {
        max-height: 0;
    }   
    to{
        max-height: 10000px;
    }
}